@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*  { 
    font-family: Roboto, sans-serif;
}

.top-navbar {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-around;

}

.main-details {
    background-color: #1F2937;
    color: white;
    display: flex;
}


.header-links {
    display: flex;
    list-style-type: none;
    gap: 8px;

}

img {
    /* TEMP */
    max-width: 200px;
    max-height: 200px
}