@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*  { 
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

body {
    margin: 0;
}

.top-navbar {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
}


.header-links {
    display: flex;
    list-style-type: none;
    gap: 40px;
    padding: 0;
}

.header-logo {
    align-self: center;
}

.main-details {
    padding: 80px 200px;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
}

.main-image {
    width: 100%;
    max-width: 600px;
    height: 300px;
    flex-shrink: 1;
}

.main-about {
    max-width: 600px;
}

.sign-up-top {
    margin-top: auto;
}


#main-heading {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    margin: 0;
}

#main-text {
    font-size: 18px;
    color: #F9FAF8;
}

/* REMOVE ME  */


.all-info-images {
    display: flex;
}

button {
    background-color: #3882F6;
    color: white;
    border-style: none;
    border-radius: 4px;
    padding: 4px 20px;
}

.info-image-subtext {
    display: flex;

    flex-direction: column;
    max-width: 200px;
}

.info-img {
    max-width: 100px;
    max-height: 100px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 12px;
}