@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*  { 
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

body {
    margin: 0;
}

.top-navbar {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
}


.header-links {
    display: flex;
    list-style-type: none;
    gap: 40px;
    padding: 0;
}

.header-logo {
    align-self: center;
}

.main-details {
    padding: 80px 200px;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
}

.main-image {
    width: 100%;
    max-width: 600px;
    height: 300px;
    flex-shrink: 1;
}

.main-about {
    max-width: 600px;
}

.sign-up-top {
    margin-top: auto;
}


#main-heading {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    margin: 0;
}

#main-text {
    font-size: 18px;
    color: #F9FAF8;
}

/* REMOVE ME  */

.information {
    padding-bottom: 50px;
}

.info-title p {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}


.all-info-images {
    display: flex;
    justify-content: center;
    gap: 48px;
}

button {
    background-color: #3882F6;
    color: white;
    border-style: none;
    border-radius: 4px;
    padding: 4px 20px;
    font-weight: bold;
}

.info-image-subtext {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.info-img {
    max-width: 150px;
    max-height: 150px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 12px;
    border: solid #3882F6;
}

.info-image-subtext P {
    text-align: center;
}

/* REMOVE ME THIRD SECTION */

.quote {
    width: 100%;
    height: 300px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    width: 800px;
    margin: 0;
}

.quote-author {
    text-align: right;
    font-weight: 700;
    margin: 0;
}

/* REMOVE ME FOURTH SECTION */

.login-promote {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login-blue-box {
    display: flex;
    background-color: #3882F6;
    border-radius: 6px;
    width: 1200px;
    height: 150px;
    justify-content: space-around;
    align-items: center;
}

.login-text {
    color: white;
    padding: 20px 40px;
}

#login-text-one {
    font-weight: 900;
    margin: 0;
    font-size: 24px;
}

#login-text-two {
    margin: 0;
}

.login-button-bottom button {
    border: 2px solid white;
    color: white;
    border-radius: 4px;
    padding: 4px 20px;
    margin: 30px;
}

/* REMOVE ME FIFTH SECTION */

.copyright {
    background-color: #1F2937;
    color: white;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}